// Text
$font: "Open Sans", sans-serif;
$font-secondary: "Tinos", sans-serif;
$font-third: "Cookie", sans-serif;

// Color
$color-primary: #FF7400;
$color-secondary: #FFE8D0;

$color-text-primary: #BC9060;
$color-text-secondary: #2C2C2C;
$color-text-third: #656363;
$color-text-fourth: #D67E35;
$color-text-fifth: #D67E34;

$color-сircle: #C4C4C4;
$color-rectangle : #FF0000;
$color-image: #A6A4A4;

$color-body: #E5E5E5;
$color-white: #FFFFFF;
$color-black: #000000;

// Transition
$transition: 0.2s all ease-in-out;

// Breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

.df {
    background: #656363;
    background: #FFD4D4;
}

// $color-primary: #ed9902;
// $color-secondary: rgba(0, 173, 181, 0.1);
// $color-primary-transparent: rgba(76, 0, 112, 0.19);

// $color-grad-primary: linear-gradient(44.11deg, rgba(205, 16, 255, 1), rgba(159, 6, 255, 1));
// $color-grad-secondary: linear-gradient(35.71deg, rgba(255, 215, 169, 1), rgba(255, 174, 112, 1));
// $color-dark_1: #21201E;
// $color-dark_2: #2D2B29;
// $color-gray: #A19A8B;
// $color-white_alfa: rgba(255, 255, 255, 0.15);
// $color-border: #E7EAEB;

// Border-radius
// $radius-btn: 5px;
// $radius-card: 12px;







