.intro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 31px;
    margin-top: -120px;
    margin-bottom: 150px;
    @include tablet-small {
        grid-template-columns: 1fr;
        gap: 14px;
        margin-bottom: 75px;
    }
    &__item {
        padding: 48px 32px 20px;
        background: $color-white;
        box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
        text-align: center;
        @include tablet {
            padding: 48px 10px 20px;
        }
    }

    &__image {
        margin-bottom: 4px;
    }

    &__title {
        @include text ($font-secondary, 400, 26px, 30px, $color-text-secondary);
        margin-bottom: 20px;
        span {
            @include text ($font-secondary, 400, 26px, 30px, $color-text-primary);
        }
    }

    &__desc {
        @include text ($font-secondary, 400, 26px, 30px, $color-text-third);
    }
}
