.reservation {
    background: url("img/background3.jpg");
    padding: 100px 20px 135px;
    @include mobile {
        padding: 20px 0 70px;
    }
    &__title {
        color: $color-white;
        text-align: center;
        margin-bottom: 40px;
        @include mobile {
            margin-bottom: 0;
        }
    }
    &__form {
        padding: 25px 30px 50px;
        max-width: 700px;
        display: flex;
        justify-content: center;
        backdrop-filter: blur(16px) brightness(60%);
        border-radius: 4px;
        margin: 0 auto;
    }
}

// .checkbox {
//     display: flex;
//     align-items: start;
//     flex-direction: column;
// }

.form {
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        margin-bottom: 10px;
        @include mobile {
            flex-direction: column;
            gap: 10px;
        }
        input {
            background: $color-body;
            padding: 14px 16px;
            border-radius: 4px;
            color: $color-black;
            outline: 0;
            border: 0;
        }
        span {
            @include text($font-secondary, 400, 26px, 30px, $color-white);
            text-align: center;
        }

        input::placeholder {
            color: $color-text-third;
        }

        textarea {
            color: $color-black;
            padding: 14px 16px;
            border-radius: 4px;
            background: $color-body;
            resize: vertical;
            outline: 0;
            border: 0;
        }

        textarea::placeholder {
            color: $color-text-third;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 40px;
        @include mobile {
            margin-top: 20px;
        }

        button {
            @include text($font-secondary, 400, 26px, 30px, $color-white);
            background: $color-primary;
            border-radius: 5px;
            padding: 14px 16px;
            outline: 0;
            border: 0;
            cursor: pointer;
        }
    }
}
